<div class="row">
  <div class="col-6">
    <app-donuts title="Ventas"></app-donuts>
  </div>
  <div class="col-6">
    <app-donuts [labels]="labels1"
                [data]="data1"
    ></app-donuts>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-donuts [labels]="labels1"
                title="Nuevo"
                [data]="data2"
    ></app-donuts>
  </div>
  <div class="col-6">
    <app-donuts [labels]="labels1"
                title="El mejor"
                [data]="data3"
    ></app-donuts>
  </div>
</div>